@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,600&family=VT323&display=swap");

.quoteCard {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
  align-items: center;
  padding: 10px;
  font-family: "Bungee Spice", sans-serif;
}

.quoteCard_title {
  display: grid;
  max-width: 200px;
  height: 40px;
  margin: 30px auto;
  align-items: center;
  color: rgb(255, 255, 255);
  box-shadow: 2px 3px 3px rgba(37, 0, 70, 0.5);
  border: 1px solid antiquewhite;
  border-radius: 10px;
  background: rgba(44, 0, 43, 0.3);
}

.quoteCard_phrase {
  display: grid;
  margin: 20px auto;
  max-width: 500px;
  height: 200px;
  background: rgba(44, 0, 43, 0.5);
  backdrop-filter: blur(3px);
  color: rgb(255, 255, 255);
  border: 1px solid antiquewhite;
  border-radius: 20px;
  padding: 15px;
  align-items: center;
  box-shadow: 2px 3px 3px rgba(37, 0, 70, 0.5);
  transition: all 1s;
  transform-style: preserve-3d;
}

.quoteCard_phrase:hover {
  transform: rotateY(360deg);
}

.quoteCard_btn {
  cursor: pointer;
  border-radius: 100px;
  border: none;
  padding: 6px;
  width: 80px;
  height: 30px;
  background: rgba(37, 0, 70, 0.25);
  backdrop-filter: blur(5px);
  color: rgba(247, 247, 247, 0.5);
  transition: all 0.1s;
}

.quoteCard_btn:hover {
  background: rgba(37, 0, 70, 0.25);
  backdrop-filter: blur(1px);
  color: antiquewhite;
  border: 1px solid antiquewhite;
  transition: all 0.3s;
}

.quoteCard_footer {
  padding: 0px 10px;
  border-radius: 8px;
  margin: 50px auto;
  max-width: 500px;
  background: rgba(37, 0, 70, 0.25);
  backdrop-filter: blur(1px);
  color: antiquewhite;
}
